<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">DOC-MAN</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <!-- <li><a href="#">Page 3</a></li> -->
    </ul>
  </div>
</nav>
  
 <div id="body">
<div class="split left">
  <div class="centered">
    <!-- <img src="img_avatar2.png" alt="Avatar woman"> -->
    <h2>Jane Flex</h2>
    <p>Some text.</p>
  </div>
</div>

<div class="split right">
  <div class="centered">
    <!-- <img src="img_avatar.png" alt="Avatar man"> -->
    <!-- <h2>John Doe</h2> -->
    <p>Image goes here</p>
  </div>
</div>
</div> 




