<!-- <p style="color: brown;"> docmain2 works!</p> -->
<!-- <button routerLink="/docmain1">BACK</button> -->
<header class="header">
    <a href="#default" class="logo ">Doc-Man</a>
    <div class="header-right">
        <a class=" btn btn-outline-secondary px-3" href="#home"><i class="fa-solid fa-house"></i></a>
        <a class="  btn btn-outline-secondary mx-3 px-3" href="#footer"><i class="fa-solid fa-address-book"></i></a>
        <button type="button" class="btn btn-outline-secondary px-3" data-bs-toggle="modal" data-bs-target="#modal"><i class="fa-solid fa-book-open"></i></button>
        <!-- <button type="button" class="" data-toggle="modal" data-target=".bd-example-modal-lg">About</button> -->
      </div>
</header>
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-7">
            <div class="card ">
                <form>
                    <div class="p-3 row">
                        <div class="col-5">
                            <label class="mt-2 fw-bold">Upload the Document :</label>
                        </div>
                        <div class="col-7">
                            {{""+conditionPdf}}
                            <div *ngIf="conditionPdf">
                                <input class="btn btn-light" type="file" id="myfile" accept="application/pdf, .doc, .docx, .odf">
                            </div>
                            <!-- <div *ngIf="conditionExcel">
                                <input class="btn btn-light" type="file" id="myfile" accept="application/pdf, .doc, .docx, .odf">
                            </div>
                            <div *ngIf="conditionWord">
                                <input class="btn btn-light" type="file" id="myfile" accept="application/pdf, .doc, .docx, .odf">
                            </div> -->
                                                        
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-5">
            <img id="img1" src="https://images.unsplash.com/photo-1584628804801-aa1a640cba8e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
        </div>
    </div>
</div>
<br>
<div class="bar2">
  <div class="container">
  <div class="row py-5 ">
    <div class="col-7 text-dark px-4">
      <h1 class="font-robo">Convenient</h1>
      <br>
      <h4 class="font-meri">Share files quickly, easily and worry-free.</h4>
      <br>
      <p class="font-meri lead">Share any type of file you like, with anyone, anywhere in the world. Generous data transfer rates and file size limits ensure even big files can be shared expeditiously.</p>
      <p class="font-meri lead">We're trying to keep it simple. Whether you prefer to send files using browser upload or via our REST API, you will find the experience to be as easy and streamlined as possible.</p>
    </div>
    <div class="col-5 text-center">
      <img class="rounded-circle " width="400" src="https://images.unsplash.com/photo-1539788023297-0d50d470da9e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt="">
    </div>
      
  </div>
</div>
</div>
<br>
<div class="card-deck my-5">
  <div class="card col-3 br">
    <img class="card-img-top p-3" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Microsoft_Office_Word_%282019%E2%80%93present%29.svg/1200px-Microsoft_Office_Word_%282019%E2%80%93present%29.svg.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title font-robo">WORD</h5>
      <p class="card-text font-meri">Microsoft Word is a widely used commercial word processor designed by Microsoft. Microsoft Word is a component of the Microsoft Office suite of productivity software, but can also be purchased as a stand-alone product.</p>
      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
    </div>
  </div>
  <div class="card col-3 br">
    <img class="card-img-top p-3" src="https://play-lh.googleusercontent.com/BkRfMfIRPR9hUnmIYGDgHHKjow-g18-ouP6B2ko__VnyUHSi1spcc78UtZ4sVUtBH4g" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title font-robo">PDF</h5>
      <p class="card-text font-meri">Portable Document Format (PDF) is a common format for sharing final versions of files. To add or edit text in a PDF that was made in an Office program like Excel or Publisher, start with the original Office file.</p>
      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
    </div>
  </div>
  
  <div class="card col-3 br">
    <img class="card-img-top " src="https://www.rpa-marketplace.com/images/thumbnails/1143/1000/detailed/2/excel-png-office-xlsx-icon-3_09lt-mc.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title font-robo">EXCEL</h5>
      <p class="card-text font-meri">Microsoft Excel is powerful data visualization and analysis software, which uses spreadsheets to store, organize, and track data sets with formulas and functions. Excel is used by marketers, accountants, data analysts, and other professionals. It's part of the Microsoft Office suite of products.</p>
      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
    </div>
  </div>
</div>
<br>

<div class="bar">
  <div class="container">
    <div class="row py-5 ">
      <div class="col-5 text-center">
        <img class="rounded-circle " width="400" height="350" src="https://images.unsplash.com/photo-1483706600674-e0c87d3fe85b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=907&q=80" alt="">
      </div>
      <div class="col-7 text-dark px-4">
        <h1 class="font-robo">Anonymous</h1>
        <br>
        <h4  class="font-meri">We don't track you. We don't track your data.</h4>
        <br>
        <p class="lead font-meri">We value privacy and we know that you do, too. Our focus is on providing a cool file sharing service, not aggregating or selling your personal data for profit.</p>
        <p class="lead font-meri">Users are not required to create an account or provide any personal information in order to upload or download files.</p>
      </div>
     
        
    </div>
  </div>
</div>
<br>
<div class="container py-5">
  <div class="row featurette">
    <div class="col-md-7 px-2">
      <h2 class="featurette-heading font-robo">Secure</h2>
      <br>
      <h5 class="text-muted font-meri">Your files are safe with us.</h5>
      <p class="lead text-muted font-meri">Your data is encrypted every step of the way. All communications to, from and among our servers including file uploads, file downloads and API requests is encrypted via HTTPS/TLS. In addition, as your uploaded file data is saved to our servers, it is re-secured using military-grade encryption.</p>
      <p class="lead text-muted font-meri">Maintaining data security requires constant vigilance. We perform regular reviews of our security infrastructure and apply patches and upgrades immediately as required.</p>
    </div>
    <div class="col-md-5">
      <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
      <img src="https://images.unsplash.com/photo-1583521214690-73421a1829a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" width="500" height="500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" alt="">
    </div>
  </div>
</div>

<br><br>
<footer class="footer border-top pt-5 pb-4 pb-lg-5" id="footer">
  <div class="container text-center pt-2 pt-md-4 pt-lg-5 pb-xl-3">
    <div class="row justify-content-center pt-xxl-2">
      <div class="col-xl-6 col-lg-7 col-md-9 col-sm-11">
        <h2 class="h1 pb-3 mb-3"> REGISTER YOUR PRESENCE </h2>
        <form class="subscription-form position-relative validate" action="https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=29ca296126" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
          <div class="d-flex flex-column flex-sm-row">
            <div class="position-relative w-100 mb-3 mb-sm-0 me-sm-3">
              <input class="form-control form-control-lg ps-5" type="email" name="EMAIL" placeholder="Your email" required="">
              <i class="bx bx-envelope fs-xl text-muted position-absolute top-50 start-0 translate-middle-y ms-3"></i>
            </div>
            <button class="btn btn-primary shadow-primary btn-lg" type="submit" name="subscribe">Subscribe*</button>
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input class="subscription-form-antispam" type="text" name="b_c7103e2c981361a6639545bd5_29ca296126" tabindex="-1">
          </div>
          <p class="mt-4 mb-0"> ENTER AND ENGAGE </p>
          <div class="subscription-status position-absolute top-100 start-50 translate-middle-x"></div>
        </form>
      </div>
    </div>
    <div class="pt-5 mt-lg-3 mt-xl-4">
      <p class="text-muted mb-0">© All rights reserved. Made with <i class="bx bx-heart d-inline-block fs-lg text-gradient-primary align-middle mt-n1 mx-1"></i> by&nbsp; <a href="http://localhost:4200/" class="text-muted" target="_blank" rel="noopener"> ARUN KARTHIK </a></p>
    </div>
  </div>
</footer>